@charset 'UFT-8';

@media(min-width:360px){
   header{
      padding: 15px;
    }
   header h1{
      font-size: 1.4em;
 }
   
   nav{
       height: 10px;
   }
   
   main{
      padding: 8px;
      padding-bottom: 40px;
   }
   
    main h2{
    font-size: 1.3em;
    margin-bottom: 8px;
    text-indent: 3px;
 }  
    main p{
    font-size: 0.95em;
    margin-bottom: 8px;
 } 
    main ul li{
    font-size: 0.9em;
    margin: 3px 12px;
    
 } 
    main ul li:last-child{
    margin-bottom: 10px;
 }
  
   .perguntas{
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 3px;
    margin: 3px;
 } 
   .perguntas h3{
    font-size: 1.15em;
    color: #333;
    margin: 4px 4px;
 } 
   .perguntas p{
    font-size: 0.95em;
    color: #202020;
    margin: 5px 8px;
    font-weight: 400;
    margin: 7px 8px;
 } 
   .perguntas ul li{
    font-size: 0.9em;
 }
   
   .respostas p{
       font-size: 0.95em;
   }
   .calculation{
       font-size: 0.93em;
   }
   details{
       font-size: 1em;
       margin-left: 5px;
   }
   details a{
      font-size: 1em;
   }
   
   .display_button{
    font-size: 0.8em;
    margin: 5px 15px;
    padding: 0.18em 0.313em;
 }
 
 .button{
    background-color: gray;
    border: none;
    padding: 0.125em 0.58em;
    color: white;
    font-size: 0.9em; 
    font-weight: bold;
    margin: 4.5px 5px;
    border-radius: 5px;
}

.resultado{
    font-size: 1em;
    color: green;
    font-weight: bold;
    text-align: center;
}
 
    
}


@media(min-width:410px){
    header{
      padding: 20px;
    }
    header h1{
    font-size: 1.9em;
 }
    header{
        padding: 20px;
    }
    nav{
        height: 25px;
    }
   
   main{
      padding: 9px;
      padding-bottom: 44px;
      max-width: 600px;
   }
   
    main h2{
    font-size: 1.6em;
    margin-bottom: 8px;
 }  
    main p{
    font-size: 1.05em;
    margin-bottom: 8px;
 } 
    main ul li{
    font-size: 0.9em;
    margin: 3px 12px;
    
 } 
    main ul li:last-child{
    margin-bottom: 10px;
 }
  
   .perguntas{
    background-color: #f0f0f0;
    border: 1.1px solid #ccc;
    padding: 3px;
    margin: 3px;
 } 
   .perguntas h3{
    font-size: 1.2em;
    color: #333;
    margin: 4px 4px;
 } 
   .perguntas p{
    font-size: 0.95em;
    color: #202020;
    margin: 5px 8px;
    font-weight: 400;
    margin: 7px 8px;
 } 
   .perguntas ul li{
    font-size: 0.9em;
 }
   
   .respostas p{
       font-size: 0.95em;
   }
   .calculation{
       font-size: 1.1em;
   }
   details{
       font-size: 1.1em;
   }
   details a{
      font-size: 1em;
   }
   
   .display_button{
    font-size: 1.1em;
    margin: 5px 15px;
    padding: 0.14em 0.5em ;
 }
 
 .button{
    background-color: gray;
    border: none;
    padding: 0.18em 0.7em;
    color: white;
    font-size: 1.2em;
    font-weight: bold;
    margin: 4px 5px;
    border-radius: 5px;
}

.resultado{
    font-size: 1em;
    color: green;
    font-weight: bold;
    text-align: center;
}
 
    
}




@media(min-width:768px){
    header h1{
    font-size: 2em;
 }
   
   main{
       display: flex;
       flex-direction: column;
       padding: 10px;
       padding-bottom: 40px;
       max-width: 660px;
       
   }
   
    main h2{
    font-size: 1.7em;
    margin-bottom: 10px;
    text-indent: 10px;
 }  
    main p{
    font-size: 1.2em;
    margin-bottom: 10px;
 } 
    main ul li{
    font-size: 1.1em;
    margin: 5px 15px;
    
 } 
    main ul li:last-child{
    margin-bottom: 12px;
 }
  
   .perguntas{
    background-color: #f0f0f0;
    border: 1.2px solid #ccc;
    padding: 3px;
    margin: 4px;
 } 
   .perguntas h3{
    font-size: 1.3em;
    color: #333;
    margin: 5px 5px;
 } 
   .perguntas p{
    font-size: 1.1em;
    color: #202020;
    margin: 5px 8px;
    font-weight: 400;
    margin: 7px 8px;
 } 
   .perguntas ul li{
    font-size: 1.1em;
 }
   
   .respostas p{
       font-size: ;
   }
   .respostas pre{
    font-size: 1.3em;
    border-radius: 5px;
    margin-left: 8px;
 }
    details{
       font-size: 1.2em;
       margin: 2px 0px;
   }
   details a{
      font-size: 1em;
      padding: 2px;
   }
 
   .display_button{
    font-size: 1.08em;
    margin: 5px 15px;
    padding: 4px 6px;
 }
 
 .button{
    background-color: gray;
    border: none;
    padding: 4px 0px;
    color: white;
    font-size: 1.2em;
    font-weight: bold;
    margin: 4px 5px;
    border-radius: 5px;
}

.resultado{
    font-size: 1.1em;
    color: green;
    font-weight: bold;
    text-align: center;
}
 
    
}


@media(min-width:980px){
    
    header h1{
    font-size: 2.1em;
 }
   
   main{
       display: flex;
       flex-direction: column;
       padding: 10px;
       padding-bottom: 50px;
       max-width: 740px;
       
   }
   
    main h2{
    font-size: 1.9em;
    margin: 10px auto;
    font-family: serif;
 }  
    main p{
    font-size: 1.24em;
    margin-bottom: 10px;
    text-align: justify;
    padding: 5px;
 } 
    main ul li{
    font-size: 1.18em;
    margin: 6px 15px;
    
 } 
    main ul li:last-child{
    margin-bottom: 12px;
 }
  
   .perguntas{
    background-color: #f0f0f0;
    border: 1.2px solid #ccc;
    padding: 3px;
    margin: 4px;
 } 
   .perguntas h3{
    font-size: 1.4em;
    color: #333;
    margin: 5px 5px;
 } 
   .perguntas p{
    font-size: 1.2em;
    color: #202020;
    margin: 5px 8px;
    font-weight: 400;
    margin: 7px 8px;
 } 
   .perguntas ul li{
    font-size: 1.18em;
 }
   
   .respostas p{
       font-size: ;
   }
   .respostas pre{
    font-size: 1.23em;
    border-radius: 5px;
    margin-left: 8px;
 }
   details{
       font-size: 1.3em;
   }
   details a{
      font-size: 1em;
      margin: 2px 20px;
   }
   
   .display_button{
    font-size: 1.085em;
    margin: 5px 15px;
    padding: 4px 6px;
 }
 
 .button{
    background-color: gray;
    border: none;
    padding: 5px 0px;
    color: white;
    font-size: 1.23em;
    font-weight: bold;
    margin: 4px 5px;
    border-radius: 5px;
}

.resultado{
    font-size: 1.2em;
    color: green;
    font-weight: bold;
    text-align: center;
}
 
}


@media(min-width:1020px){
    
    header h1{
    font-size: 2.1em;
 }
   
   main{
       padding: 10px;
       padding-bottom: 50px;
       max-width: 780px;
       
   }
   
    main h2{
    font-size: 1.8em;
    margin-bottom: 10px;
 }  
    main p{
    font-size: 1.3em;
    margin-bottom: 10px;
 } 
    main ul li{
    font-size: 1.2em;
    margin: 5px 15px;
    
 } 
    main ul li:last-child{
    margin-bottom: 12px;
 }
  
   .perguntas{
    background-color: #f0f0f0;
    border: 1.2px solid #ccc;
    padding: 3px;
    margin: 4px;
 } 
   .perguntas h3{
    font-size: 1.4em;
    color: #333;
    margin: 5px 5px;
 } 
   .perguntas p{
    font-size: 1.2em;
    color: #202020;
    margin: 5px 8px;
    font-weight: 400;
    margin: 7px 8px;
 } 
   .perguntas ul li{
    font-size: 1.2em;
 }
   
   .respostas p{
       font-size: ;
   }
   .respostas pre{
    font-size: 1.2em;
    border-radius: 5px;
    margin-left: 8px;
 }
 
   .display_button{
    font-size: 1.1em;
    margin: 5px 15px;
    padding: 4px 6px;
 }
    details{
       font-size: 1.3em;
       margin-bottom: 1.5px;
   }
   details a{
      font-size: 0.9em;
   }
   
 .button{
    background-color: gray;
    border: none;
    padding: 3px 10px;
    color: white;
    font-size: 1.3em;
    font-weight: bold;
    margin: 4px 5px;
    border-radius: 5px;
}

.resultado{
    font-size: 1.2em;
    color: green;
    font-weight: bold;
    text-align: center;
}
 
}

@media(min-width:1140px){
    
    header h1{
    font-size: 2.1em;
 }
   
   main{
       padding: 10px;
       padding-bottom: 50px;
       max-width: 800px;
       
   }
   
    main h2{
    font-size: 1.83em;
    margin-bottom: 10px;
 }  
    main p{
    font-size: 1.33em;
    margin-bottom: 10px;
 } 
    main ul li{
    font-size: 1.23em;
    margin: 5px 15px;
    
 } 
    main ul li:last-child{
    margin-bottom: 12px;
 }
  
   .perguntas{
    background-color: #f0f0f0;
    border: 1.2px solid #ccc;
    padding: 3px;
    margin: 4px;
 } 
   .perguntas h3{
    font-size: 1.43em;
    color: #333;
    margin: 5px 5px;
 } 
   .perguntas p{
    font-size: 1.23em;
    color: #202020;
    margin: 5px 8px;
    font-weight: 400;
    margin: 7px 8px;
 } 
   .perguntas ul li{
    font-size: 1.23em;
 }
   
   .respostas p{
       font-size: ;
   }
   .respostas pre{
    font-size: 1.23em;
    border-radius: 5px;
    margin-left: 8px;
 }
 
   .display_button{
    font-size: 1.13em;
    margin: 5px 15px;
    padding: 4px 6px;
 }
   details{
       font-size: 1.4em;
       margin-bottom: 1.5px;
   }
   details a{
      font-size: 0.9em;
   }
 
 .button{
    background-color: gray;
    border: none;
    padding: 3px 10px;
    color: white;
    font-size: 1.33em;
    font-weight: bold;
    margin: 4px 5px;
    border-radius: 5px;
}

.resultado{
    font-size: 1.23em;
    color: green;
    font-weight: bold;
    text-align: center;
}
 
}

@media(min-width:1200px){
    
    header h1{
    font-size: 2.1em;
 }
   
   main{
       padding: 10px;
       padding-bottom: 50px;
       max-width: 810px;
       
   }
   
    main h2{
    font-size: 1.84em;
    margin-bottom: 10px;
 }  
    main p{
    font-size: 1.34em;
    margin-bottom: 10px;
 } 
    main ul li{
    font-size: 1.24em;
    margin: 5px 15px;
    
 } 
    main ul li:last-child{
    margin-bottom: 12px;
 }
  
   .perguntas{
    background-color: #f0f0f0;
    border: 1.2px solid #ccc;
    padding: 3px;
    margin: 4px;
 } 
   .perguntas h3{
    font-size: 1.44em;
    color: #333;
    margin: 5px 5px;
 } 
   .perguntas p{
    font-size: 1.24em;
    color: #202020;
    margin: 5px 8px;
    font-weight: 400;
    margin: 7px 8px;
 } 
   .perguntas ul li{
    font-size: 1.24em;
 }
   
   .respostas pre{
    font-size: 1.24em;
    border-radius: 5px;
    margin-left: 8px;
 }
   details{
       font-size: 1.5em;
       margin-bottom: 1.5px;
   }
   details a{
      font-size: 0.9em;
   }
 
   .display_button{
    font-size: 1.14em;
    margin: 5px 15px;
    padding: 4px 6px;
 }
 
 .button{
    background-color: gray;
    border: none;
    padding: 3px 10px;
    color: white;
    font-size: 1.34em;
    font-weight: bold;
    margin: 4px 5px;
    border-radius: 5px;
}

.resultado{
    font-size: 1.24em;
    color: green;
    font-weight: bold;
    text-align: center;
}
 
}

      
@media(min-width:1400px){
    
    header h1{
    font-size: 2.2em;
 }
   
   main{
       padding: 10px;
       padding-bottom: 50px;
       max-width: 900px;
       
   }
   
    main h2{
    font-size: 1.9em;
    margin-bottom: 10px;
 }  
    main p{
    font-size: 1.4em;
    margin-bottom: 10px;
 } 
    main ul li{
    font-size: 1.3em;
    margin: 5px 15px;
    
 } 
    main ul li:last-child{
    margin-bottom: 12px;
 }
  
   .perguntas{
    background-color: #f0f0f0;
    border: 1.2px solid #ccc;
    padding: 3px;
    margin: 4px;
 } 
   .perguntas h3{
    font-size: 1.5em;
    color: #333;
    margin: 5px 5px;
 } 
   .perguntas p{
    font-size: 1.3em;
    color: #202020;
    margin: 5px 8px;
    font-weight: 400;
    margin: 7px 8px;
 } 
   .perguntas ul li{
    font-size: 1.3em;
 }
   
   .respostas pre{
    font-size: 1.3em;
    border-radius: 5px;
    margin-left: 8px;
 }
   details{
       font-size: 1.5em;
       margin-bottom: 3px;
   }
   details a{
      font-size: 1em;
   }
 
   .display_button{
    font-size: 1.2em;
    margin: 5px 15px;
    padding: 4px 6px;
 }
 
 .button{
    background-color: gray;
    border: none;
    padding: 3px 10px;
    color: white;
    font-size: 1.4em;
    font-weight: bold;
    margin: 4px 5px;
    border-radius: 5px;
}

.resultado{
    font-size: 1.4em;
    color: green;
    font-weight: bold;
    text-align: center;
}
 
}

@media(min-width:2560px){
    
    header h1{
    font-size: 2.8em;
 }
    
   main{
       display: flex;
       flex-direction: column;
       padding: 10px;
       padding-bottom: 50px;
       max-width: 1200px;
       justify-content: center;
       
   }
   
    main h2{
    font-size: 2.4em;
    margin: 10px auto;
 }  
    main p{
    font-size: 1.7em;
    margin-bottom: 10px;
 } 
    main ul li{
    font-size: 1.6em;
    margin: 5px 15px;
    
 } 
    main ul li:last-child{
    margin-bottom: 12px;
 }
  
   .perguntas{
    background-color: #f0f0f0;
    border: 1.2px solid #ccc;
    padding: 3px;
    margin: 4px;
 } 
   .perguntas h3{
    font-size: 2em;
    color: #333;
    margin: 5px 5px;
 } 
   .perguntas p{
    font-size: 1.7em;
    color: #202020;
    margin: 5px 8px;
    font-weight: 400;
    margin: 7px 8px;
 } 
   .perguntas ul li{
    font-size: 1.6em;
 }
   
   .respostas pre{
    font-size: 1.6em;
    border-radius: 5px;
    margin-left: 8px;
 }
   details{
       font-size: 1.7em;
       margin-bottom: 5px;
   }
   details a{
      font-size: 1.1em;
   }
 
   .display_button{
    font-size: 1.4em;
    margin: 5px 15px;
    padding: 4px 6px;
 }
 
 .button{
    background-color: gray;
    border: none;
    padding: 8px 0px;
    color: white;
    font-size: 1.6em;
    font-weight: bold;
    margin: 4px 5px;
    border-radius: 5px;
}

.resultado{
    font-size: 1.6em;
    color: green;
    font-weight: bold;
    text-align: center;
}
 
}

