@charset 'UFT-8';

  @import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Great+Vibes&family=Handjet:wght@100;200;300;400;500;600;700;800;900&family=Passion+One:wght@400;700;900&family=REM:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sriracha&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

html{
    font-size: 62.5%;
}

header{
    background-color: #f0f0f0;
    padding: 2.0rem;
    text-align: center;
}
header h1{
    color: #333;
    font-size: 2.8rem;
    font-weight: 600;
    margin: 0;
    font-family: serif;
}


nav{
   display: block;
   height: 1.9rem;
   background-color: #333;
}


main{
   /* margin: 0 auto; */   
    padding: 0px 0.9rem 4.4rem 0.9rem;
   
}
main h2{
    font-size: 2.472rem;
    color: rgba(0,0,0,0.9);
    text-indent: 0.31rem;
    margin: 1.2rem 0px;
}
main p{
    font-size: 1.7rem;
    color: #666;
    margin-bottom: 1.2rem;
}
main ul{
    padding: 0px 1.0rem 0px 1.8rem;
    margin: 1.2rem 0px;
}
main ul li{
    font-size: 1.58rem;
    color: rgba(0,0,0,0.9);
    margin: 0.3502rem 1.29986rem;
    
}


.questions{
    background-color: #f0f0f0;
    border: 0.11rem solid #ccc;
    padding: 0.299936rem;
    margin: 0.299936rem 0;
    box-shadow: 0px 0px 0.2rem #0000008a;
}
.questions h3{
    font-size: 2.1rem;
    color: #333;
    margin: 0.400052rem;
}

.questions p{
    font-size: 1.8rem;
    color: #202020;
    font-weight: 400;
    margin: 0.699988rem 0.800104rem;
}
.questions p strong{
    font-weight: 500;
    color: #242424b3;
}
.options{
    list-style: none;
    margin: 0;
    padding: 0;
}
.option label{
    display: inline;
    font-size: 1.75rem;
    margin-right: 0;
    margin-bottom: 0.5rem;
}
input[type=radio]{
    display: none;
  /* margin-right: 0.5rem; */
}
.option .alternative{
    position: relative;
    transform: translateY(-8%);
    background: #f6f6f6;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 2.5rem;
    width: 2.5rem;
    border: 0.12rem solid black;
    border-radius: 50%;
}
input[type="radio"]:checked + .alternative{
    border: 0.17rem solid gray;
    background: linear-gradient(270deg, gray, lightgray);
    color: white;
}

.popup{
    display: inline-block;
    position: absolute;
    background: linear-gradient(270deg, gray, #A5A5A5);
    padding: 0.2rem 0.4rem;
    border-radius: 0.4rem;
    margin-right: 1.0rem;
    font-size: 1.4rem;
    font-weight: bold;
    color: white;
}
.popup a{
    color: white;
}
.close{
    display: inline-block;
    padding: 0 0.3rem;
    font-weight: bold;
    background: rgba(255,0,0,0.7);
}

.answers{
    display: none;
    padding: 0.8rem;
}
.answers p{
    font-size: 1.68rem;
   /* width: 98%; */
    color: #3e3e3e;
    font-weight: 400;
}
.calculation{
    font-size: 1.59rem;
    background-color: white;
    padding: 0.5rem;
    color: #181818;
    border-radius: 0.7rem;
}
.calculation div{
    padding-left: 0.500168rem;
   }
.calculation strong{
    color: rgba(0,0,0,0.7);
    font-weight: 500;
}
.calculation p{
    font-size: 1.3rem;
   }
.calculation details{
    margin: 0.800104rem 0;
   }
.calculation summary{
    font-size: 1.58rem;
   }
.calculation details p{
    font-size: 1.6rem;
   }
.calculation details details summary{
    font-size: 1.6rem;
   }
.calculation details details p{
    font-size: 1.6rem;
    margin: 0.899808rem 2.56% 0.899808rem 2.9%;
 }
.calculation ul{
    list-style: none;
    padding-left: 1.8rem;
}
.calculation ul li{
    font-size: 1.57rem;
    overflow-wrap: anywhere;
   /* max-width: 98%; */
    margin: 0.60rem 0.30rem;
    color: #181818;
}
.calculation ul li:last-child{
    margin-bottom: 1.200156rem;
   }
.calculation ul strong{
    font-style: italic;
    font-weight: 500;
}
.calculation ul .number{
    font-style: normal;
    color: rgba(0,0,0,0.7);
}
.calculation details summary{
    margin: 0.5rem auto;
    font-weight: 500;
    color: rgba(0,0,0,0.8);
}
details summary{
    font-size: 1.8rem;
}

details a{
    font-size: 1.7rem;
    margin: 0.7416rem 1.6999rem;
    text-decoration: none;
    color: #0003ffe5;
    cursor: pointer;
}


.option input[type="radio"] + .correct_answers{
    border: 0.17rem solid #007300;
    background: linear-gradient(270deg, #158015, lightgreen);
    color: white;
}

.option input[type="radio"] + .incorrect_answers{
    border: 0.17rem solid #C52F3E;
    background: linear-gradient(270deg, #DC3545, #DC8990);
    color: white;
}


.explanation_button{
    font-size: 1.73864rem;
    margin: 0.5rem 1.5rem;
    padding: 0.25rem 0.65rem;
    cursor: pointer;
    background: linear-gradient(rgba(102, 102, 102, 0.8), rgb(102, 102, 102), rgba(102, 102, 102, 0.8));
    font-weight: bold;
    color: #f4f4f4;
    border: none;
}
.explanation_button:hover{
    background-color: #555;
}

.show{
    display: block;        
}
.hidden{
    display: none;
}


.button{
    font-size: 1.9364rem;
    color: white;
    font-weight: bold;
    padding: 0.25rem 0.75rem;
    margin: 0.4rem 0.5rem;
    border-radius: 0.5rem;
    background: linear-gradient(rgba(128,128,128,0.9), rgb(128,128,128), rgba(128,128,128,0.9));
    cursor: pointer;
    border: none;
}

.result{
   /* font-size: 1.59rem; */
    font-size: calc(1.3515rem + (0.579vw));
    color: green;
    width: 100%;
    font-weight: bold;
    text-align: center;
}
