@charset 'UFT-8';


@media screen and (max-width: 415px){
/* Baseado em 412px*/
    header{
      padding: 4.7vw;
 }
    header h1{
      font-size: 7vw;       
 }
    nav{
     /* height: 1.9rem; */
      height: 4.612vw;
 }
   
   main{
      /* padding: 0.9rem; */
       padding: 0px 2.1844660194174756vw 4.4rem 2.1844660194174756vw;
 }
   
    main h2{
      /* font-size: 6vw; */
      /* font-size: 2.472rem; */
       font-size: calc(4vw + (0.824rem));
      /* margin: 0.8rem 0px; */
       margin: 1.942vw 0px;
 }  
    main p{
       font-size: 1.75rem;
      /* margin-bottom: 0.8rem; */
       margin-bottom: 1.942vw;
 } 
    main ul li{
       font-size: 1.58rem;
      /* margin: 0.35rem 1.3rem; */
       margin: 0.850vw 3.155vw;
    
 } 
    main ul li:last-child{
      /* margin-bottom: 1.0rem; */
       margin-bottom: 2.427vw;
 }
  
   .perguntas{
       background-color: #f0f0f0;
       border: 0.11rem solid #ccc;
      /* padding: 0.3rem; */
       padding: 0.728vw;
      /* margin: 0.3rem; */
       margin: 0.728vw;
 } 
   .perguntas h3{
      /* font-size: 2.3rem; */
      /* font-size: 5.583vw; */
       font-size: calc(3.68478vw + (0.76659rem));
       color: #333;
      /* margin: 0.4rem; */
       margin: 0.971vw;
 } 
   .perguntas p{
       font-size: 1.68rem;
       color: #202020;
       font-weight: 400;
      /* margin: 0.7rem 0.9rem;*/
       margin: 1.699vw 1.942vw;
 } 
   .perguntas ul li{
       font-size: 1.6rem;
 }
   
   .respostas p{
       font-size: 1.68rem;
       width: 98%;
 }
   .calculation{
       font-size: 1.67rem; 
 }
   .calculation div{
      /* padding-left: 0.5rem; */
       padding-left: 1.214vw;
       
 }
   .calculation p{
       font-size: 1.3rem;
 }
   .calculation details{
      /* margin: 0.8rem 0px; */
       margin: 1.942vw 0px;
 }
   .calculation summary{
       font-size: 1.6rem;
 }
   .calculation details p{
       font-size: 1.6rem;
       max-width: 97%;              
 }
   .calculation details details summary{
       font-size: 1.6rem;
   }
   .calculation details details p{
       font-size: 1.6rem;
      /* margin: 0.9rem 2.56% 0.9rem 2.9%; */
       margin: 2.184vw 2.56% 2.184vw 2.9%;
 }
   .calculation ul{
       max-width: 100%;
 }
   .calculation ul li{
       font-size: 1.6rem;
       overflow-wrap: anywhere;
       max-width: 97%;
      /* margin: 0.6rem 0.3rem; */
       margin: 1.456vw 0.728vw;
 }
   .calculation ul li:last-child{
      /* margin-bottom: 1.2rem; */
       margin-bottom: 2.913vw;
 }
   details{
       font-size: 1.8rem;
 }
   details summary{
      /* margin-bottom: 0.4rem; */
       margin-bottom: 0.971vw;
 }
   details a{
      font-size: 1.7rem;
     /* margin: 0.8rem 1.7rem; */
      margin: 1.942vw 4.126vw;
 }
   
   .display_button{
     /* font-size: 17.3864rem; */
      font-size: 4.22vw;
     /* margin: 0.5rem 1.5rem; */
      margin: 1.214vw 3.641vw;
      padding: 0.3rem 0.65rem;
 }
 
   .button{
     /* padding: 0.3rem 0.8rem; */
      padding: 0.728vw 1.942vw;
      color: white;
      font-size: 4.7vw;
      font-weight: bold;
     /* margin: 0.4rem 0.5rem; */
      margin: 0.971vw 1.214vw;
      border-radius: 0.5rem;
 }

    .resultado{
      font-size: 1.6rem;
      color: green;
      font-weight: bold;
      text-align: center;
 }
 
    
}



@media screen and (min-width: 415px) and (max-width: 600px){
 /* Baseado em 415 */
   header{
      padding: 4.7vw;
 }
    header h1{
      font-size: 7vw;       
 }
 
    nav{
      height: 1.9rem;
 }
   
   main{
      /* padding: 0.9rem; */
       padding: 0px 2.1844660194174756vw 4.4rem 2.1844660194174756vw;
   }
   
    main h2{
       font-size: 6vw;
       margin-bottom: 0.8rem;
 }  
    main p{
      /* font-size: 1.75rem; */
       font-size: 4.217vw;
       margin-bottom: 0.8rem;
 } 
    main ul li{
      /* font-size: 1.58rem; */
       font-size: 3.807vw;
       margin: 0.35rem 1.3rem;
    
 } 
    main ul li:last-child{
       margin-bottom: 1.0rem;
 }
  
   .perguntas{
       background-color: #f0f0f0;
       border: 0.11rem solid #ccc;
       padding: 0.3rem;
       margin: 0.3rem;
 } 
   .perguntas h3{
      /* font-size: 2.3rem; */
       font-size: 5.542vw;
       color: #333;
       margin: 0.4rem;
 } 
   .perguntas p{
      /* font-size: 1.68rem; */
       font-size: 4.048vw;
       color: #202020;
       margin: 0.5rem 0.8rem;
       font-weight: 400;
       margin: 0.7rem 0.8rem;
 } 
   .perguntas ul li{
      /* font-size: 1.6rem; */
       font-size: 3.855vw;
 }
   
   .respostas p{
      /* font-size: 1.68rem; */
       font-size: 4.048vw;
       width: 98%;
 }
   .calculation{
      /* font-size: 1.67rem; */
       font-size: 4.024vw;
 }
   .calculation div{
       padding-left: 0.5rem;
 }
   .calculation p{
      /* font-size: 1.3rem; */
       font-size: 3.133vw;
 }
   .calculation details{
       margin: 0.8rem 0px;
 }
   .calculation summary{
      /* font-size: 1.6rem; */
       font-size: 3.855vw;
 }
   .calculation details p{
      /* font-size: 1.6rem; */
       font-size: 3.855vw;
       max-width: 97%;
 }
   .calculation details details summary{
       /* font-size: 1.6rem; */
       font-size: 3.855vw;
   }
   .calculation details details p{
       /* font-size: 1.6rem; */
       font-size: 3.855vw; 
     /* margin: 0.9rem 1.4rem 0.9rem 1.2rem; */
       margin: 0.9rem 2.56% 0.9rem 2.9%;
 }
   .calculation ul{
       max-width: 100%;
 }
   .calculation ul li{
       /* font-size: 1.6rem; */
       font-size: 3.855vw;
       overflow-wrap: anywhere;
       max-width: 98%;
       margin: 0.6rem 0.3rem;
 }
   .calculation ul li:last-child{
       margin-bottom: 1.2rem;
 }
    details{
      /* font-size: 1.8rem; */
       font-size: 4.337vw;
 }
    details summary{
       margin-bottom: 0.4rem;
 }
    details a{
     /* font-size: 1.7rem; */
      font-size: 4.096vw;
      margin: 0.8rem 17px;
 }
   
   .display_button{
     /* font-size: 1.711875rem; */
     /* font-size: 4.125vw; */
      font-size: max(3.5vw, 4.125vw);
      margin: 0.5rem 1.5rem;
      padding: 0.3rem 0.65rem;
 }
 
   .button{
      /* padding: 0.272rem 0.96rem; */
      padding: 0.37057220708446864vh 2.3300970873786406vw; 
      color: white;
     /* font-size: 1.872rem; */
     /* font-size: 4.511vw; */
      font-size: max(3.667vw, 4.511vw);
      font-weight: bold;
      margin: 0.4rem 0.5rem;
      border-radius: 0.5rem;
 }

    .resultado{
     /* font-size: 1.6rem; */
      font-size: 3.855vw;
      color: green;
      font-weight: bold;
      text-align: center;
 }
 
    
}


@media screen and (min-width: 600px) and (max-width: 769px){
   header{
     /* padding: 1.881rem; */
      padding: 3.135vw;
    }
    header h1{
      font-size: 2.94rem;
     /* font-size: 4.9vw; */
 }
    nav{
     /* height: 4.865vw; */
      height: 1.9002rem;
    }
   
   
   main{
      display: flex;
      flex-direction: column;      
      padding: 0px 2.1844660194174756vw 4.4rem 2.1844660194174756vw;
      max-width: 620px;
   }   
    main h2{
      font-size: 2.5rem;
      font-family: serif;
      margin: 0.9rem auto;
 }  
    main p{
      text-align: justify;
      font-size: 1.7rem;
 }
    main ul li{
    font-size: 1.6rem;
    margin: 0.6rem 1.2rem;
    
 } 
  
   .perguntas{
    border: 0.11rem solid #ccc;
    box-shadow: 0px 0px 0.2rem #0000008a;
    
 } 
   .perguntas h3{
    margin: 0.4rem;
    font-size: 2.0rem;
 } 
   .perguntas p{
    margin: 0.7rem 0.8rem;
    font-size: 1.7rem;
 } 
   .perguntas ul li{
    font-size: 1.62rem;
 }
 
   .respostas p{
       font-size: 1.7rem;
   }
   .calculation{
       font-size: 1.68rem;
   }
   .calculation summary{
       font-size: 1.68rem;
   }
   .calculation details p{
       font-size: 1.67rem;
       overflow-wrap: anywhere;
       max-width: 98%;
   }
   .calculation details details p{  
       font-size: 1.68rem;
       margin: 0.9rem 2.56% 0.9rem 2.9%;
   }
   .calculation details details summary{
       font-size: 1.68rem;
   }
   .calculation ul li{
       font-size: 1.68rem;
       max-width: 97%;
       margin: 0.8rem 0.3rem;
   }
   details{
       font-size: 1.71rem;
   }
   details a{
      font-size: 1.68rem;
   }
   
   
   .display_button{
    font-size: 2.1rem;
    margin: 0.5rem 1.5rem;
    padding: 0.3rem 0.65rem;
 }
 
 
 .button{
    background-color: gray;
    border: none;
    padding: 0.4rem 0px;
    color: white;
    font-size: 2.2rem;
    font-weight: bold;
    margin: 0.1rem 0.3rem;
    border-radius: 0.5rem;
 }

 .resultado{
    font-size: 2.0rem;
 }
   
}


@media screen and (min-width: 769px) and (max-width: 1024px){   
   header{
     /* padding: 1.881rem; */
      padding: 3.135vw;
    }
    header h1{
      font-size: 3.2rem;
     /* font-size: 4.9vw; */
 }
    nav{
     /* height: 4.865vw; */
      height: 1.9002rem;
    }
   
   
   main{
      display: flex;
      flex-direction: column;
      padding: 0px 2.1844660194174756vw 4.4rem 2.1844660194174756vw;
     /* max-width: 620px; */
      max-width: 80.624vw;
   }   
    main h2{
      font-size: 2.5rem;
      font-family: serif;
      margin: 0.9rem auto;
 }  
    main p{
      text-align: justify;
     /* font-size: 1.7rem; */
      font-size: max(2.211vw, 1.8rem);
 }
    main ul li{
   /* font-size: 1.6rem; */
    font-size: max(2.081vw, 1.7rem);
    margin: 0.6rem 1.2rem;
    
 } 
  
   .perguntas{
    border: 0.11rem solid #ccc;
    box-shadow: 0px 0px 0.2rem #0000008a;
    
 } 
   .perguntas h3{
    margin: 0.4rem;
   /* font-size: 2.0rem; */
    font-size: max(2.601vw, 2.0rem);
 } 
   .perguntas p{
    margin: 0.7rem 0.8rem;
   /* font-size: 1.7rem; */
    font-size: max(2.211vw, 1.8rem);
 } 
   .perguntas ul li{
   /* font-size: 1.62rem; */
    font-size: max(2.107vw, 1.72rem);
 }
 
   .respostas p{
      /* font-size: 1.7rem; */
       font-size: max(2.211vw, 1.8rem);
   }
   .calculation{
      /* font-size: 1.68rem; */
       font-size: max(2.185vw, 1.78rem);
   }
   .calculation summary{
      /* font-size: 1.68rem; */
       font-size: max(2.185vw, 1.78rem);
   }
   .calculation details p{
      /* font-size: 1.67rem; */
       font-size: max(2.172vw, 1.77rem);
       overflow-wrap: anywhere;
       max-width: 98%;
   }
   .calculation details details p{  
      /* font-size: 1.68rem; */
       font-size: max(2.185vw, 1.78rem);
       margin: 0.9rem 2.56% 0.9rem 2.9%;
   }
   .calculation details details summary{
      /* font-size: 1.68rem; */
       font-size: max(2.185vw, 1.78rem);
   }
   .calculation ul li{
      /* font-size: 1.68rem; */
       font-size: max(2.185vw, 1.78rem);
       max-width: 97%;
       margin: 0.8rem 0.3rem;
   }
   details{
      /* font-size: 1.71rem; */
       font-size: max(2.224vw, 1.81rem);
   }
   details a{
     /* font-size: 1.68rem; */
      font-size: max(2.185vw, 1.78rem);
   }
   
   
   .display_button{
   /* font-size: 2.2rem; */
   /* font-size: 2.731vw; */
    font-size: calc(0.78vw + (1.45rem));
    margin: 0.5rem 1.5rem;
    padding: 0.3rem 0.65rem;
 }
 
 
 .button{
    background-color: gray;
    border: none;
    padding: 0.4rem 0px;
    color: white;
    font-size: 2.2rem; 
   /* font-size: 2.861vw; */
    font-size: max(2.861vw, 2.3rem);
    font-weight: bold;
    margin: 0.1rem 0.3rem;
    border-radius: 0.5rem;
 }

 .resultado{
    font-size: 2.1rem;
    margin: 1px auto;
 }
   
}

@media screen and (min-width: 1024px){
   html{
       font-size: calc(1vw + (62.5%));
   }

   header{
      padding: 3.21024rem;
     /* padding: 3.135vw; */
    }
    header h1{
      font-size: 3.2rem;
     /* font-size: 4.9vw; */
 }
    nav{
     /* height: 4.865vw; */
      height: 1.9002rem;
    }
   
   
   main{
      display: flex;
      flex-direction: column;
      padding: 0px 2.1844660194174756vw 4.4rem 2.1844660194174756vw;
     /* max-width: 620px; */
      max-width: 80.624vw;
   }   
    main h2{
      font-size: 2.5rem;
      font-family: serif;
      margin: 0.9rem auto;
 }  
    main p{
      text-align: justify;
     /* font-size: 1.7rem; */
      font-size: max(2.211vw, 1.8rem);
 }
    main ul li{
   /* font-size: 1.6rem; */
    font-size: max(2.081vw, 1.7rem);
    margin: 0.6rem 1.2rem;
    
 } 
  
   .perguntas{
    border: 0.11rem solid #ccc;
    box-shadow: 0px 0px 0.2rem #0000008a;
    
 } 
   .perguntas h3{
    margin: 0.4rem;
   /* font-size: 2.0rem; */
    font-size: max(2.601vw, 2.0rem);
 } 
   .perguntas p{
    margin: 0.7rem 0.8rem;
   /* font-size: 1.7rem; */
    font-size: max(2.211vw, 1.8rem);
 } 
   .perguntas ul li{
   /* font-size: 1.62rem; */
    font-size: max(2.107vw, 1.72rem);
 }
 
   .respostas p{
      /* font-size: 1.7rem; */
       font-size: max(2.211vw, 1.8rem);
   }
   .calculation{
      /* font-size: 1.68rem; */
       font-size: max(2.185vw, 1.78rem);
   }
   .calculation summary{
      /* font-size: 1.68rem; */
       font-size: max(2.185vw, 1.78rem);
   }
   .calculation details p{
      /* font-size: 1.67rem; */
       font-size: max(2.172vw, 1.77rem);
       overflow-wrap: anywhere;
       max-width: 98%;
   }
   .calculation details details p{  
      /* font-size: 1.68rem; */
       font-size: max(2.185vw, 1.78rem);
       margin: 0.9rem 2.56% 0.9rem 2.9%;
   }
   .calculation details details summary{
      /* font-size: 1.68rem; */
       font-size: max(2.185vw, 1.78rem);
   }
   .calculation ul li{
      /* font-size: 1.68rem; */
       font-size: max(2.185vw, 1.78rem);
       max-width: 97%;
       margin: 0.8rem 0.3rem;
   }
   details{
      /* font-size: 1.71rem; */
       font-size: max(2.224vw, 1.81rem);
   }
   details a{
     /* font-size: 1.68rem; */
      font-size: max(2.185vw, 1.78rem);
   }
   
   
   .display_button{
   /* font-size: 2.2rem; */
   /* font-size: 2.731vw; */
    font-size: calc(0.78vw + (1.45rem));
    margin: 0.5rem 1.5rem;
    padding: 0.3rem 0.65rem;
 }
 
 
 .button{
    background-color: gray;
    border: none;
    padding: 0.4rem 0px;
    color: white;
    font-size: 2.2rem; 
   /* font-size: 2.861vw; */
    font-size: max(2.861vw, 2.3rem);
    font-weight: bold;
    margin: 0.1rem 0.3rem;
    border-radius: 0.5rem;
 }

 .resultado{
    font-size: 2.1rem;
    margin: 1px auto;
 }
   
}
