@charset 'UFT-8';

  @import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Great+Vibes&family=Handjet:wght@100;200;300;400;500;600;700;800;900&family=Passion+One:wght@400;700;900&family=REM:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sriracha&display=swap');


*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Roboto', sans-serif;
}


header{
    background-color: #f0f0f0;
    padding: 20px;
    text-align: center;
}
header h1{
    color: #333;
    /*font-size: 2em;*/
    font-family: serif;
}


nav{
   display: inline-block;
   height: 30px;
   background-color: #333;
}


main{
    margin: 0 auto;
}
main h2{
    /*font-size: 1.5em;*/
    color: #333;
    margin-bottom: 10px;
}
main p{
    /*font-size: 1.1em;*/
    color: #666;
    margin-bottom: 10px;
}
main ul li{
    /*font-size: 1em;*/
    color: black;
    margin: 5px 16px;
    
}
main ul li:last-child{
    margin-bottom: 12px;
}


.perguntas{
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 3px;
    margin: 3px;
    box-shadow: 0px 0px 2px #0000008a;
}
.perguntas h3{
    /*font-size: 1.2em;*/
    color: #333;
    margin: 5px 5px;
}

.perguntas p{
    /*font-size: 1em;*/
    color: #202020;
    margin: 5px 8px;
    font-weight: 400;
}
.perguntas p strong{
    font-weight: 500;
    color: #242424b3;
}
.options{
    list-style: none;
}
.perguntas ul li{
    /*font-size: 1em;*/
    margin-bottom: 5px;
}



input[type=radio]{
    margin-right: 5px;
}


.respostas{
    display: none;
    padding: 8px;
}
.respostas p{
    /*font-size: 1em;*/
    color: #3e3e3e;
    font-weight: 400;
}
.calculation{
    display: block;
    background-color: white;
    padding: 5px;
    color: #181818;
    border-radius: 7px;
}
.calculation ul{
    list-style: none;
    text-overflow: wrapp;
}
.calculation ul li{
    color: #181818;
    overflow-wrap: break-word;
}
.calculation ul strong{
    font-style: italic;
    font-weight: 500;
}
.calculation ul .number{
    font-style: normal;
    color: rgba(0,0,0,0.7);
}
.calculation details summary{
    margin: 5px auto;
}
details a{
    /*line-height: 8px;*/
    text-decoration: none;
    /*font-size: 1em;*/
    margin-left: 16px;
    color: #0003ffe5;
    cursor: pointer;
}


.correct_answers{
    accent-color: green;
}

.incorrect_answers{
    accent-color: red;
}


.display_button{
    cursor: pointer;
    background-color: #666;
    /*font-size: 0.8em;*/
    font-weight: bold;
    margin: 5px 15px;
    color: #f4f4f4;
    border: none;
    padding: 3px 4px;
}
.display_button:hover{
    background-color: #555;
}

.exibir{
    display: block;
}
.ocultar{
    display: none;
}

.button{
    background-color: gray;
    cursor: pointer;
    border: none;
   /* padding: 3px 10px; */
    color: white;
   /* font-size: 1.1em;*/
    font-weight: bold;
    margin: 4px 5px;
    border-radius: 5px;
}

.resultado{
    /*font-size: 1em;*/
    color: green;
    font-weight: bold;
    text-align: center;
}
