@charset 'UFT-8';


@media screen and (max-width: 360px){    
   header{
      padding: 4.7vw;
 }
    header h1{
      font-size: 7vw;       
 }
 
    nav{
      height: 1.9rem;
 }
   
   main{
      /* padding: 0.9rem; */
       padding: 0px 2.1844660194174756vw 4.4rem 2.1844660194174756vw;
 }
   
    main h2{
       font-size: 6.867vw;
       margin-bottom: 0.8rem;
 }  
    main p{
       font-size: 4.861vw;
       margin-bottom: 0.8rem;
 } 
    main ul li{
       font-size: 4.389vw;
       margin: 0.35rem 1.3rem;
    
 } 
    main ul li:last-child{
       margin-bottom: 1.0rem;
 }
  
   .perguntas{
       background-color: #f0f0f0;
       border: 0.11rem solid #ccc;
       padding: 0.3rem;
       margin: 0.3rem;
 } 
   .perguntas h3{
      /* font-size: 2.3rem; */
       font-size: 6.389vw;
       color: #333;
       margin: 0.4rem;
 } 
   .perguntas p{
       font-size: 4.667vw;
       color: #202020;
       margin: 0.5rem 0.8rem;
       font-weight: 400;
       margin: 0.7rem 0.8rem;
 } 
   .perguntas ul li{
       font-size: 4.444vw; 
 }
   
   .respostas p{
       font-size: 4.667vw;
       width: 98%;
 }
   .calculation{
       font-size: 4.639vw; 
 }
   .calculation div{
       padding-left: 0.5rem;
 }
   .calculation p{
       font-size: 3.611vw;
 }
   .calculation details{
       margin: 0.8rem 0px;
 }
   .calculation summary{
       font-size: 4.444vw;
 }
   .calculation details p{
       font-size: 4.444vw;
       max-width: 97%;
 }
   .calculation details details summary{
       font-size: 4.444vw;
 }
   .calculation details details p{
       font-size: 4.444vw; 
     /* margin: 0.9rem 1.4rem 0.9rem 1.2rem; */
       margin: 0.9rem 2.56% 0.9rem 2.9%;
 }
   .calculation ul{
       max-width: 100%;
 }
   .calculation ul li{
       font-size: 4.444vw;
       overflow-wrap: anywhere;
       max-width: 98%;
       margin: 0.6rem 0.3rem;
 }
   .calculation ul li:last-child{
       margin-bottom: 1.2rem;
 }
   details{
       font-size: 5vw;
 }
   details summary{
       margin-bottom: 0.4rem;
 }
   details a{
      font-size: 4.722vw;
      margin: 0.8rem 17px;
 }
   
   .display_button{
     /* font-size: 1.712rem; */
      font-size: 4.22vw;
      margin: 0.5rem 1.5rem;
      padding: 0.3rem 0.65rem;
 }
 
   .button{
      /* padding: 0.272rem 0.96rem; */
      padding: 0.37057220708446864vh 2.3300970873786406vw; 
      color: white;
     /* font-size: 1.872rem; */
      font-size: 5.200vw;
      font-weight: bold;
      margin: 0.4rem 0.5rem;
      border-radius: 0.5rem;
 }

    .resultado{
      font-size: 4.444vw;
      color: green;
      font-weight: bold;
      text-align: center;
 }
 
    
}


@media screen and (min-width: 360px) and (max-width: 415px){
/* Baseado em 412px*/
    header{
      padding: 4.7vw;
 }
    header h1{
      font-size: 7vw;       
 }
    nav{
      height: 1.9rem;
 }
   
   main{
      /* padding: 0.9rem; */
       padding: 0px 2.1844660194174756vw 4.4rem 2.1844660194174756vw;
 }
   
    main h2{
       font-size: 6vw;
       margin: 0.8rem 0px;
 }  
    main p{
       font-size: 1.75rem;
       margin-bottom: 0.8rem;
 } 
    main ul li{
       font-size: 1.58rem;
       margin: 0.35rem 1.3rem;
    
 } 
    main ul li:last-child{
       margin-bottom: 1.0rem;
 }
  
   .perguntas{
       background-color: #f0f0f0;
       border: 0.11rem solid #ccc;
       padding: 0.3rem;
       margin: 0.3rem;
 } 
   .perguntas h3{
      /* font-size: 2.3rem; */
       font-size: 5.583vw;
       color: #333;
       margin: 0.4rem;
 } 
   .perguntas p{
       font-size: 1.68rem;
       color: #202020;
       margin: 0.5rem 0.8rem;
       font-weight: 400;
       margin: 0.7rem 0.8rem;
 } 
   .perguntas ul li{
       font-size: 1.6rem; 
 }
   
   .respostas p{
       font-size: 1.68rem;
       width: 98%;
 }
   .calculation{
       font-size: 1.67rem; 
 }
   .calculation div{
       padding-left: 0.5rem;
 }
   .calculation p{
       font-size: 1.3rem;
 }
   .calculation details{
       margin: 0.8rem 0px;
 }
   .calculation summary{
       font-size: 1.6rem;
 }
   .calculation details p{
       font-size: 1.6rem;
       max-width: 97%;              
 }
   .calculation details details summary{
       font-size: 1.6rem;
   }
   .calculation details details p{
       font-size: 1.6rem; 
     /* margin: 0.9rem 1.4rem 0.9rem 1.2rem; */
       margin: 0.9rem 2.56% 0.9rem 2.9%;
 }
   .calculation ul{
       max-width: 100%;
 }
   .calculation ul li{
       font-size: 1.6rem;
       overflow-wrap: anywhere;
       max-width: 97%;
       margin: 0.6rem 0.3rem;
 }
   .calculation ul li:last-child{
       margin-bottom: 1.2rem;
 }
   details{
       font-size: 1.8rem;
 }
   details summary{
       margin-bottom: 0.4rem;
 }
   details a{
      font-size: 1.7rem;
      margin: 0.8rem 17px;
 }
   
   .display_button{
     /* font-size: 1.712rem; */
      font-size: 4.22vw;
      margin: 0.5rem 1.5rem;
      padding: 0.3rem 0.65rem;
 }
 
   .button{
      /* padding: 0.272rem 0.96rem; */
      padding: 0.37057220708446864vh 2.3300970873786406vw; 
      color: white;
     /* font-size: 1.872rem; */
      font-size: 4.6vw;
      font-weight: bold;
      margin: 0.4rem 0.5rem;
      border-radius: 0.5rem;
 }

    .resultado{
      font-size: 1.6rem;
      color: green;
      font-weight: bold;
      text-align: center;
 }
 
    
}



@media screen and (min-width: 415px) and (max-width: 600px){
 /* Baseado em 415 */
   header{
      padding: 4.7vw;
 }
    header h1{
      font-size: 7vw;       
 }
 
    nav{
      height: 1.9rem;
 }
   
   main{
      /* padding: 0.9rem; */
       padding: 0px 2.1844660194174756vw 4.4rem 2.1844660194174756vw;
   }
   
    main h2{
       font-size: 6vw;
       margin-bottom: 0.8rem;
 }  
    main p{
      /* font-size: 1.75rem; */
       font-size: 4.217vw;
       margin-bottom: 0.8rem;
 } 
    main ul li{
      /* font-size: 1.58rem; */
       font-size: 3.807vw;
       margin: 0.35rem 1.3rem;
    
 } 
    main ul li:last-child{
       margin-bottom: 1.0rem;
 }
  
   .perguntas{
       background-color: #f0f0f0;
       border: 0.11rem solid #ccc;
       padding: 0.3rem;
       margin: 0.3rem;
 } 
   .perguntas h3{
      /* font-size: 2.3rem; */
       font-size: 5.542vw;
       color: #333;
       margin: 0.4rem;
 } 
   .perguntas p{
      /* font-size: 1.68rem; */
       font-size: 4.048vw;
       color: #202020;
       margin: 0.5rem 0.8rem;
       font-weight: 400;
       margin: 0.7rem 0.8rem;
 } 
   .perguntas ul li{
      /* font-size: 1.6rem; */
       font-size: 3.855vw;
 }
   
   .respostas p{
      /* font-size: 1.68rem; */
       font-size: 4.048vw;
       width: 98%;
 }
   .calculation{
      /* font-size: 1.67rem; */
       font-size: 4.024vw;
 }
   .calculation div{
       padding-left: 0.5rem;
 }
   .calculation p{
      /* font-size: 1.3rem; */
       font-size: 3.133vw;
 }
   .calculation details{
       margin: 0.8rem 0px;
 }
   .calculation summary{
      /* font-size: 1.6rem; */
       font-size: 3.855vw;
 }
   .calculation details p{
      /* font-size: 1.6rem; */
       font-size: 3.855vw;
       max-width: 97%;
 }
   .calculation details details summary{
       /* font-size: 1.6rem; */
       font-size: 3.855vw;
   }
   .calculation details details p{
       /* font-size: 1.6rem; */
       font-size: 3.855vw; 
     /* margin: 0.9rem 1.4rem 0.9rem 1.2rem; */
       margin: 0.9rem 2.56% 0.9rem 2.9%;
 }
   .calculation ul{
       max-width: 100%;
 }
   .calculation ul li{
       /* font-size: 1.6rem; */
       font-size: 3.855vw;
       overflow-wrap: anywhere;
       max-width: 98%;
       margin: 0.6rem 0.3rem;
 }
   .calculation ul li:last-child{
       margin-bottom: 1.2rem;
 }
    details{
      /* font-size: 1.8rem; */
       font-size: 4.337vw;
 }
    details summary{
       margin-bottom: 0.4rem;
 }
    details a{
     /* font-size: 1.7rem; */
      font-size: 4.096vw;
      margin: 0.8rem 17px;
 }
   
   .display_button{
     /* font-size: 1.711875rem; */
     /* font-size: 4.125vw; */
      font-size: max(3.5vw, 4.125vw);
      margin: 0.5rem 1.5rem;
      padding: 0.3rem 0.65rem;
 }
 
   .button{
      /* padding: 0.272rem 0.96rem; */
      padding: 0.37057220708446864vh 2.3300970873786406vw; 
      color: white;
     /* font-size: 1.872rem; */
     /* font-size: 4.511vw; */
      font-size: max(3.667vw, 4.511vw);
      font-weight: bold;
      margin: 0.4rem 0.5rem;
      border-radius: 0.5rem;
 }

    .resultado{
     /* font-size: 1.6rem; */
      font-size: 3.855vw;
      color: green;
      font-weight: bold;
      text-align: center;
 }
 
    
}


@media screen and (min-width: 600px) and (max-width: 769px){
   header{
      padding: 1.881rem;
     /* padding: 4.533vw; */
    }
    header h1{
      font-size: 2.94rem;
     /* font-size: 7.084vw; */      
 }
    nav{
      height: 2.0188rem;
     /* height: 4.865vw; */
    }
   
   
   main{
      display: flex;
      flex-direction: column;
      padding: 0px 2.1844660194174756vw 4.4rem 2.1844660194174756vw;
      max-width: 650px;
   }   
    main h2{
      font-size: 2.4rem;
      font-family: serif;
      margin: 0.9rem auto;
 }  
    main p{
      text-align: justify;
      font-size: 1.8rem;
 }
    main ul li{
    font-size: 1.7rem;
    margin: 0.6rem 1.2rem;
    
 } 
  
   .perguntas{
    border: 0.11rem solid #ccc;
    box-shadow: 0px 0px 0.2rem #0000008a;
    
 } 
   .perguntas h3{
    margin: 0.4rem;
    font-size: 2.1rem;
 } 
   .perguntas p{
    margin: 0.7rem 0.8rem;
    font-size: 1.8rem;
 } 
   .perguntas ul li{
    font-size: 1.72rem;
 }
 
   .respostas p{
       font-size: 1.8rem;
   }
   .calculation{
       font-size: 1.78rem;
   }
   .calculation summary{
       font-size: 1.78rem;
   }
   .calculation details p{
       font-size: 1.77rem;
       overflow-wrap: anywhere;
       max-width: 98%;
   }
   .calculation details details p{  
       font-size: 1.78rem;
       margin: 0.9rem 2.56% 0.9rem 2.9%;
   }
   .calculation details details summary{
       font-size: 1.78rem;
   }
   .calculation ul li{
       font-size: 1.78rem;
       max-width: 97%;
       margin: 0.8rem 0.3rem;
   }
   details{
       font-size: 1.81rem;
   }
   details a{
      font-size: 1.78rem;
   }
   
   
   .display_button{
    font-size: 2.1rem;
    margin: 0.5rem 1.5rem;
    padding: 0.3rem 0.65rem;
 }
 
 
 .button{
    background-color: gray;
    border: none;
    padding: 0.4rem 0px;
    color: white;
    font-size: 2.2rem;
    font-weight: bold;
    margin: 0.1rem 0.3rem;
    border-radius: 0.5rem;
 }

 .resultado{
    font-size: 2.0rem;
 }
   
}


@media(min-width:980px){
    main{
        max-width: 760px;
    }
}


@media(min-width:1024px){
    header{
      padding: 30px;
 }
    
    header h1{
      font-size: 2.1em;
 }
   
   main{
      display: flex;
      flex-direction: column;
      max-width: 780px;
 }   
    main h2{
      font-size: 1.8em;
      font-family: serif;
      margin: 8px auto;
 }  
    main p{
      text-align: justify;
      font-size: 1.2em;
 }
    main ul li{
    font-size: 1.1em;
    margin: 5px 12px;
    
 } 
  
   .perguntas{
    border: 1.1px solid #ccc;
    
 } 
   .perguntas h3{
    margin: 4px 4px;
    font-size: 1.4em;
 } 
   .perguntas p{
    margin: 7px 8px;
    font-size: 1.2em;
 } 
   .perguntas ul li{
    font-size: 1.1em;
 }
 
 
   .respostas p{
       font-size: 1.2em;
 }
   .calculation{
       font-size: 1.2em;
 }
   .calculation div{
       padding-left: 5px;
   }
   .calculation p{
       font-size: 0.85em;
   }   
   .calculation details{
       margin: 8px 0px;
   }
   .calculation summary{
       font-size: 0.89em;
   }
   .calculation details p{
       font-size: 0.93em;
   }
    .calculation details details summary{
       font-size: 0.78em;
   }
   .calculation details details p{
       font-size: 0.79em;
       margin: 9px 10px 0px 12px;
   }   
   .calculation ul{
       max-width: 100%;
   }   
   .calculation ul li{
       font-size: 0.99em;
       margin: 8px auto;
       max-width: 94%;
   }
   .calculation ul li:last-child{
       margin-bottom: 12px;
   }   
   details{
       font-size: 1.2em;
   }
   details summary{
       margin-bottom: 4px;
   }
   details a{
      font-size: 1.1em;
      margin: 8px 17px;
   }
 
           
   .display_button{
    font-size: 1.3em;
    margin: 5px 15px;
    padding: 0.14em 0.5em;
 }
 
 
 .button{
    background-color: gray;
    border: none;
    padding: 0.18em 0.7em;
    color: white;
    font-size: 1.4em;
    font-weight: bold;
    margin: 4px 5px;
    border-radius: 5px;
 }

 .resultado{
    font-size: 1.2em;
 }
 
}


@media(min-width:1200px){
    header{
      padding: 30px;
 }
    
    header h1{
      font-size: 2.15em;
 }
   
   main{
      display: flex;
      flex-direction: column;
      max-width: 820px;
 }   
    main h2{
      font-size: 1.85em;
      font-family: serif;
      margin: 8px auto;
 }  
    main p{
      text-align: justify;
      font-size: 1.25em;
 }
    main ul li{
    font-size: 1.15em;
    margin: 5px 12px;
    
 } 
  
   .perguntas{
    border: 1.1px solid #ccc;
    
 } 
   .perguntas h3{
    margin: 4px 4px;
    font-size: 1.45em;
 } 
   .perguntas p{
    margin: 7px 8px;
    font-size: 1.25em;
 } 
   .perguntas ul li{
    font-size: 1.15em;
 }
 
   .respostas p{
       font-size: 1.25em;
 }
   .calculation{
       font-size: 1.15em;
 }
   .calculation summary{
       font-size: 1.05em;
   }
   .calculation ul li{
       font-size: 1.05em;
   }
   details{
       font-size: 1.25em;
 }
   details a{
      font-size: 1.15em;
 }
   
   
   .display_button{
    font-size: 1.35em;
    margin: 5px 15px;
    padding: 0.14em 0.5em;
 }
 
 
 .button{
    background-color: gray;
    border: none;
    padding: 0.18em 0.7em;
    color: white;
    font-size: 1.45em;
    font-weight: bold;
    margin: 4px 5px;
    border-radius: 5px;
 }

 .resultado{
    font-size: 1.25em;
 }
 
}


@media(min-width:1440px){
    header{
      padding: 30px;
 }
    
    header h1{
      font-size: 2.2em;
 }
   
   main{
      display: flex;
      flex-direction: column;
      max-width: 900px;
 }   
    main h2{
      font-size: 1.9em;
      font-family: serif;
      margin: 8px auto;
 }  
    main p{
      text-align: justify;
      font-size: 1.3em;
 }
    main ul li{
    font-size: 1.2em;
    margin: 5px 12px;
    
 } 
  
   .perguntas{
    border: 1.2px solid #ccc;
    box-shadow: 0px 0px 2.5px #0000008a;
    
 } 
   .perguntas h3{
    margin: 4px 4px;
    font-size: 1.5em;
 } 
   .perguntas p{
    margin: 7px 8px;
    font-size: 1.3em;
 } 
   .perguntas ul li{
    font-size: 1.2em;
 }
 
   .respostas p{
       font-size: 1.3em;
 }
   .calculation{
       font-size: 1.2em;
 }
   .calculation summary{
       font-size: 1.1em;
   }
   .calculation ul li{
       font-size: 1.1em;
   }
   details{
       font-size: 1.3em;
 }
   details a{
      font-size: 1.2em;
 }
   
   
   .display_button{
    font-size: 1.4em;
    margin: 5px 15px;
    padding: 0.14em 0.5em;
 }
 
 
 .button{
    background-color: gray;
    border: none;
    padding: 0.18em 0.7em;
    color: white;
    font-size: 1.5em;
    font-weight: bold;
    margin: 4px 5px;
    border-radius: 5px;
 }

 .resultado{
    font-size: 1.3em;
 }
    
}


@media(min-width:1536px){
    header{
      padding: 30px;
 }
    
    header h1{
      font-size: 2.2em;
 }
   
   main{
      display: flex;
      flex-direction: column;
      max-width: 900px;
 }   
    main h2{
      font-size: 1.95em;
      font-family: serif;
      margin: 8px auto;
 }  
    main p{
      text-align: justify;
      font-size: 1.35em;
 }
    main ul li{
    font-size: 1.25em;
    margin: 5px 12px;
    
 } 
  
   .perguntas{
    border: 1.2px solid #ccc;
    box-shadow: 0px 0px 2.5px #0000008a;
    
 } 
   .perguntas h3{
    margin: 4px 4px;
    font-size: 1.55em;
 } 
   .perguntas p{
    margin: 7px 8px;
    font-size: 1.35em;
 } 
   .perguntas ul li{
    font-size: 1.25em;
 }
 
   .respostas p{
       font-size: 1.35em;
 }
   .calculation{
       font-size: 1.25em;
 }
   .calculation summary{
       font-size: 1.5em;
   }
   .calculation ul li{
       font-size: 1.5em;
   }
   details{
       font-size: 1.35em;
 }
   details a{
      font-size: 1.25em;
 }
   
   
   .display_button{
    font-size: 1.45em;
    margin: 5px 15px;
    padding: 0.14em 0.5em;
 }
 
 
 .button{
    background-color: gray;
    border: none;
    padding: 0.18em 0.7em;
    color: white;
    font-size: 1.55em;
    font-weight: bold;
    margin: 4px 5px;
    border-radius: 5px;
 }

 .resultado{
    font-size: 1.35em;
 }
    
}


@media(min-width:1600px){
    header{
      padding: 30px;
 }
    
    header h1{
      font-size: 2.25em;
 }
   
   main{
      display: flex;
      flex-direction: column;
      max-width: 950px;
 }   
    main h2{
      font-size: 2em;
      font-family: serif;
      margin: 8px auto;
 }  
    main p{
      text-align: justify;
      font-size: 1.4em;
 }
    main ul li{
    font-size: 1.3em;
    margin: 5px 12px;
    
 } 
  
   .perguntas{
    border: 1.2px solid #ccc;
    box-shadow: 0px 0px 2.5px #0000008a;
    
 } 
   .perguntas h3{
    margin: 4px 4px;
    font-size: 1.6em;
 } 
   .perguntas p{
    margin: 7px 8px;
    font-size: 1.4em;
 } 
   .perguntas ul li{
    font-size: 1.3em;
 }
 
   .respostas p{
       font-size: 1.4em;
 }
   .calculation{
       font-size: 1.3em;
 }
   .calculation summary{
       font-size: 1em;
   }
   .calculation ul li{
       font-size: 1em;
   }
   details{
       font-size: 1.5em;
 }
   details a{
      font-size: 1.3em;
 }
   
   
   .display_button{
    font-size: 1.5em;
    margin: 5px 15px;
    padding: 0.14em 0.5em;
 }
 
 
 .button{
    background-color: gray;
    border: none;
    padding: 0.18em 0.7em;
    color: white;
    font-size: 1.6em;
    font-weight: bold;
    margin: 4px 5px;
    border-radius: 5px;
 }

 .resultado{
    font-size: 1.4em;
 }
    
}


@media(min-width:1920px){
    header{
      padding: 30px;
 }
    
    header h1{
      font-size: 2.6em;
 }
   
   main{
      display: flex;
      flex-direction: column;
      max-width: 1200px;
 }   
    main h2{
      font-size: 2.3em;
      font-family: serif;
      margin: 8px auto;
 }  
    main p{
      text-align: justify;
      font-size: 1.7em;
 }
    main ul li{
    font-size: 1.6em;
    margin: 5px 12px;
    
 } 
  
   .perguntas{
    border: 1.2px solid #ccc;
    box-shadow: 0px 0px 2.5px #0000008a;
    
 } 
   .perguntas h3{
    margin: 4px 4px;
    font-size: 1.9em;
 } 
   .perguntas p{
    margin: 7px 8px;
    font-size: 1.7em;
 } 
   .perguntas ul li{
    font-size: 1.6em;
 }
 
   .respostas p{
       font-size: 1.7em;
 }
   .calculation{
       font-size: 1.6em;
 }
   .calculation div{
       margin-left: 5%;
   }
   .calculation summary{
       font-size: 0.6em;
   }
   .calculation ul{
       display: block;
       margin: auto auto;
       max-width: 80%;
   }
   .calculation ul li{
       font-size: 1em;
       margin: 10px auto;
   }
   .calculation ul li:last-child{
       margin-bottom: 12px;
   }
   .calculation details p{
       font-size: 0.5em;
   }
   .calculation details details summary{
       font-size: 0.2em;
   }
   .calculation details details p{
       font-size: 0.2em;
   }
   details{
       font-size: 1.9em;
 }
   details a{
      font-size: 1.1em;
 }
   
   
   .display_button{
    font-size: 1.8em;
    margin: 5px 15px;
    padding: 0.14em 0.5em;
 }
 
 
 .button{
    background-color: gray;
    border: none;
    padding: 0.18em 0.7em;
    color: white;
    font-size: 1.9em;
    font-weight: bold;
    margin: 4px 5px;
    border-radius: 5px;
 }

 .resultado{
    font-size: 1.7em;
 }
    
}
