@charset 'UFT-8';

@media screen and (min-width: 412px){
    .perguntas .source_for_bug{
        font-size: calc(0.775vw + (1.3607rem));
 }
 
}


@media screen and (min-width: 600px){   
    main{
        display: grid;
        max-width: 72.0rem;
 }    
    main h2{
        margin: 1.2rem auto;
        text-indent: none;
 }
    main ul{
        padding: 0;
        margin: 1.2rem 0px;
        margin-left: 0.05rem;
 }
 
    .button{
        height: 3.8rem;
        margin: -0.3rem -0.02rem 0 -0.02rem;
        padding: 0;
        border-radius: 0 0 0.5rem 0.5rem;
 }
    
}


@media screen and (min-width: 980px){
    .perguntas .source_for_bug{
        font-size: 2.12242rem;
 }
 
    .resultado{
        font-size: 1.9364rem;
    }
    
}
