@charset 'UFT-8';

  @import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Great+Vibes&family=Handjet:wght@100;200;300;400;500;600;700;800;900&family=Passion+One:wght@400;700;900&family=REM:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sriracha&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

html{
    font-size: 62.5%;
}

header{
    background-color: #f0f0f0;
    padding: 2.0rem;
    text-align: center;
}
header h1{
    color: #333;
    font-size: 2.8rem;
    font-weight: 600;
    font-family: serif;
}


nav{
   display: block;
   height: 1.9rem;
   background-color: #333;
}


main{
   /* margin: 0 auto; */
    padding: 0px 0.9rem 4.4rem 0.9rem;
   
}
main h2{
    font-size: 2.472rem;
    color: rgba(0,0,0,0.9);
    text-indent: 0.31rem;
    margin: 1.2rem 0px;
}
main p{
    font-size: 1.75rem;
    color: #666;
    margin-bottom: 1.2rem;
}
main ul{
    padding: 0px 1.0rem 0px 1.8rem;
    margin: 1.2rem 0px;
}
main ul li{
    font-size: 1.58rem;
    color: rgba(0,0,0,0.9);
    margin: 0.3502rem 1.29986rem;
    
}


.questions{
    background-color: #f0f0f0;
    border: 0.11rem solid #ccc;
    padding: 0.299936rem;
    margin: 0.299936rem 0;
    box-shadow: 0px 0px 0.2rem #0000008a;
}
.questions h3{
    font-size: 2.3rem;
    color: #333;
    margin: 0.400052rem;
}

.questions p{
    font-size: 1.68rem;
    color: #202020;
    font-weight: 400;
    margin: 0.699988rem 0.800104rem;
}
.questions p strong{
    font-weight: 500;
    color: #242424b3;
}
.options{
    list-style: none;
    margin: 0;
    padding: 0;
}
.questions ul li{
    font-size: 2.0rem;
    margin-right: 0;
    margin-bottom: 0.5rem;
}



input[type=radio]{
    margin-right: 0.5rem;
}


.answers{
    display: none;
    padding: 0.8rem;
}
.answers p{
    font-size: 1.68rem;
   /* width: 98%; */
    color: #3e3e3e;
    font-weight: 400;
}
.calculation{
    font-size: 1.67rem;
    background-color: white;
    padding: 0.5rem;
    color: #181818;
    border-radius: 0.7rem;
}
.calculation div{
    padding-left: 0.500168rem;
   }
.calculation p{
    font-size: 1.3rem;
   }
.calculation details{
    margin: 0.800104rem 0;
   }
.calculation summary{
    font-size: 1.6rem;
   }
.calculation details p{
    font-size: 1.6rem;
   }
.calculation details details summary{
    font-size: 1.6rem;
   }
.calculation details details p{
    font-size: 1.6rem;
    margin: 0.899808rem 2.56% 0.899808rem 2.9%;
 }
.calculation ul{
    list-style: none;
    padding-left: 1.834rem;
}
.calculation ul li{
    font-size: 1.6rem;
    overflow-wrap: anywhere;
   /* max-width: 98%; */
    margin: 0.60rem 0.30rem;
    color: #181818;
}
.calculation ul li:last-child{
    margin-bottom: 1.200156rem;
   }
.calculation ul strong{
    font-style: italic;
    font-weight: 500;
}
.calculation ul .number{
    font-style: normal;
    color: rgba(0,0,0,0.7);
}
.calculation details summary{
    margin: 0.5rem auto;
    font-weight: 500;
    color: rgba(0,0,0,0.8);
}
details summary{
    font-size: 1.8rem;
   /* margin-bottom: 0.971vw; */
}

details a{
    font-size: 1.7rem;
    margin: 0.7416rem 1.6999rem;
    text-decoration: none;
    color: #0003ffe5;
    cursor: pointer;
}


.correct_answers{
    accent-color: green;
}

.incorrect_answers{
    accent-color: red;
}


.display_button{
    font-size: 1.73864rem;
    margin: 0.5rem 1.5rem;
    padding: 0.25rem 0.65rem;
    cursor: pointer;
    background-color: #666;
    font-weight: bold;
    color: #f4f4f4;
    border: none;
}
.display_button:hover{
    background-color: #555;
}

.show{
    display: block;
}
.hidden{
    display: none;
}

.button{
    font-size: 1.9364rem;
    color: white;
    font-weight: bold;
    padding: 0.25rem 0.75rem;
    margin: 0.4rem 0.5rem;
    border-radius: 0.5rem;
    background-color: gray;
    cursor: pointer;
    border: none;
}

.result{
   /* font-size: 1.6rem; */
    font-size: calc(0.9223300970873787vw + (1.22rem));
    color: green;
    font-weight: bold;
    text-align: center;
}
