@charset 'UFT-8';


@media(min-width:320px){
   header{
      padding: 15px;
    }
   
   nav{
       height: 10px;
   }
   
   
   .display_button{
    padding: 0.12em 0.313em;
 }
 
 .button{
    padding: 0.125em 0.75em;
    border-radius: 5px;
}
 
    
}




@media(min-width:360px){
   header{
      padding: 15px;
    }
   header h1{
      font-size: 1.4em;
 }
   
   nav{
       height: 10px;
   }
   
   main{
      padding: 8px;
      padding-bottom: 40px;
   }
   
    main h2{
    font-size: 1.3em;
    margin-bottom: 8px;
    text-indent: 3px;
 }  
    main p{
    font-size: 0.95em;
    margin-bottom: 8px;
 } 
    main ul li{
    font-size: 0.9em;
    margin: 3px 12px;
    
 } 
    main ul li:last-child{
    margin-bottom: 10px;
 }
  
   .perguntas{
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 3px;
    margin: 3px;
 } 
   .perguntas h3{
    font-size: 1.15em;
    color: #333;
    margin: 4px 4px;
 } 
   .perguntas p{
    font-size: 0.95em;
    color: #202020;
    margin: 5px 8px;
    font-weight: 400;
    margin: 7px 8px;
 } 
   .perguntas ul li{
    font-size: 0.9em;
 }
   
   .respostas p{
       font-size: 0.95em;
   }
   .calculation{
       font-size: 0.93em;
   }
   details{
       font-size: 1em;
       margin-left: 5px;
   }
   details a{
      font-size: 1em;
   }
   
   .display_button{
    font-size: 0.8em;
    margin: 5px 15px;
    padding: 0.18em 0.313em;
 }
 
 .button{
    background-color: gray;
    border: none;
    padding: 0.125em 0.58em;
    color: white;
    font-size: 0.9em; 
    font-weight: bold;
    margin: 4.5px 5px;
    border-radius: 5px;
}

.resultado{
    font-size: 1em;
    color: green;
    font-weight: bold;
    text-align: center;
}
 
    
}


@media(min-width:410px){
    header{
      padding: 20px;
    }
    header h1{
    font-size: 1.9em;
 }
    header{
        padding: 20px;
    }
    nav{
        height: 25px;
    }
   
   main{
      padding: 9px;
      padding-bottom: 44px;
      max-width: 600px;
   }
   
    main h2{
    font-size: 1.6em;
    margin-bottom: 8px;
 }  
    main p{
    font-size: 1.05em;
    margin-bottom: 8px;
 } 
    main ul li{
    font-size: 0.9em;
    margin: 3px 12px;
    
 } 
    main ul li:last-child{
    margin-bottom: 10px;
 }
  
   .perguntas{
    background-color: #f0f0f0;
    border: 1.1px solid #ccc;
    padding: 3px;
    margin: 3px;
 } 
   .perguntas h3{
    font-size: 1.2em;
    color: #333;
    margin: 4px 4px;
 } 
   .perguntas p{
    font-size: 0.95em;
    color: #202020;
    margin: 5px 8px;
    font-weight: 400;
    margin: 7px 8px;
 } 
   .perguntas ul li{
    font-size: 0.9em;
 }
   
   .respostas p{
       font-size: 0.95em;
   }
   .calculation{
       font-size: 1.1em;
   }
   details{
       font-size: 1.1em;
   }
   details a{
      font-size: 1em;
   }
   
   .display_button{
    font-size: 1.1em;
    margin: 5px 15px;
    padding: 0.14em 0.5em ;
 }
 
 .button{
    background-color: gray;
    border: none;
    padding: 0.18em 0.7em;
    color: white;
    font-size: 1.2em;
    font-weight: bold;
    margin: 4px 5px;
    border-radius: 5px;
}

.resultado{
    font-size: 1em;
    color: green;
    font-weight: bold;
    text-align: center;
}
 
    
}


@media(min-width:768px){
   /* header{
      padding: 30px;
    }*/
    /*
    header h1{
      font-size: 2em;
 }*/
   
   main{
      display: flex;
      flex-direction: column;
      max-width: 660px;
   }
   
   /* main h2{
      font-size: 1.8em;
      font-family: serif;
 }  */
    main p{
      text-align: justify;
 }
  
   .perguntas{
    border: 1.1px solid #ccc;
 } 
   .perguntas h3{
    margin: 4px 4px;
 } 
   .perguntas p{
    margin: 7px 8px;
 } 
   .perguntas ul li{
  
 }
   
   /*
   .display_button{
    font-size: 1.5em;
    margin: 5px 15px;
    padding: 0.14em 0.5em ;
 }*/
 
 /*
 .button{
    background-color: gray;
    border: none;
    padding: 0.35em;
    color: white;
    font-size: 1.5em;
    font-weight: bold;
    margin: 4px 5px;
    border-radius: 5px;
 }*/

.resultado{
    
 }
   
}

/*
@media(min-width:980px){ 
   main{
      display: flex;
      flex-direction: column;
      max-width: 750px;
   }
   
   .display_button{
    font-size: 1.5em;
    margin: 5px 15px;
    padding: 0.14em 0.5em ;
 }
 
 .button{
    padding: 0.35em;
    font-size: 1.5em;
    margin: 4px 5px;
    border-radius: 5px;
 }
   
}
*/
